<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/headerAndFooter :: common-header" />
<body>

	<div th:replace="common/adminHeader :: navbar"></div>

	<div class="container" style="margin-bottom: 100px;">
		<div class="row">
			<div class="col-lg-12">
				<form class="form-horizontal" th:action="@{/admin/dish/add}"
					method="post" enctype="multipart/form-data">
					<fieldset>
						<legend class="mx-auto" style="margin-bottom: 50px;"><strong>New
							Dish Details</strong></legend>

						<div class="form-group row">
							<label class="col-lg-2" for="name"><strong>*
									Name</strong></label>

							<div class="col-lg-7">
								<input type="text" class="form-control" id="name" name="name"
									placeholder="Enter dish name" th:value="${dish.name}"
									required="required"> <small
									class="form-text text-muted">Name of the dish</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2" for="description"><strong>*
									Description</strong></label>

							<div class="col-lg-7">
								<textarea class="form-control" id="description"
									name="description" rows="5" placeholder="Enter description"
									th:value="dish.description" required="required"></textarea>
								<small class="form-text text-muted">Description of the
									dish that may include ingredients, flavor, calories and etc</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2 control-label" for="category"><strong>*
									Category</strong></label>
							<div class="col-lg-7">
								<select class="form-control" id="category" name="category"
									th:value="dish.category" required="required">
									<option value="APPETIZER"
										th:selected="(${dish.category}=='APPETIZER')">Appetizer</option>
									<option value="BURGER"
										th:selected="(${dish.category}=='BURGER')">Burger</option>
									<option value="CHICKEN"
										th:selected="(${dish.category}=='CHICKEN')">Chicken</option>
									<option value="DESSERT"
										th:selected="(${dish.category}=='DESSERT')">Dessert</option>
									<option value="DRINK" th:selected="(${dish.category}=='DRINK')">Drink</option>
									<option value="FISH" th:selected="(${dish.category}=='FISH')">Fish</option>
									<option value="SALAD" th:selected="(${dish.category}=='SALAD')">Salad</option>
								</select> <small class="form-text text-muted">Category of the
									dish</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2 control-label" for="listPrice"><strong>List
									Price</strong></label>
							<div class="col-lg-7">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">$</span>
									</div>
									<input type="number" class="form-control" id="listPrice"
										name="listPrice" th:value="${dish.listPrice}">
								</div>
								<small class="form-text text-muted">Price without
									membership</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2 control-label" for="discountPrice"><strong>Discount
									Price</strong></label>
							<div class="col-lg-7">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">$</span>
									</div>
									<input type="number" class="form-control" id="discountPrice"
										th:value="${dish.discountPrice}">
								</div>
								<small class="form-text text-muted">Membership price</small>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-lg-2 col-form-label" for="status"
								th:value="${dish.active}"><strong>* Status</strong></label>
							<div class="col-lg-7">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="status"
										id="status1" value="true" checked> <label
										class="form-check-label" for="status1"> Available </label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="status"
										id="status1" value="false"> <label
										class="form-check-label" for="status2"> Unavailable </label>
								</div>
								<small class="form-text text-muted">Indicate the
									availability of the dish</small>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-lg-2">
								<label for="dishImage"><strong>Upload Dish
										Image</strong></label>
							</div>
							<div class="col-lg-7">
								<input id="dishImage" type="file" name="dishImage"
									th:value="${dish.dishImage}"> <small
									class="form-text text-muted">Image of the dish</small>
							</div>
						</div>

						<div class="form-group" style="margin-top: 50px;">
							<button type="submit" class="btn btn-success">Submit</button>
							<a class="btn btn-danger" th:href="@{/admin}">Cancel</a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">

	<div th:replace="common/headerAndFooter :: footer"></div>

</body>
</html>