<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/headerAndFooter :: common-header" />
<body>
	<div th:replace="common/headerAndFooter :: navbar"></div>

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-lg-9">
				<h2 class="second-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-lg-3">
				<img class="img-responsive rounded-circle" width="400px"
					height="400px" src="img/logo.png" alt="logo image">
			</div>
		</div>

		<hr
			style="position: absolute; width: 1200px; height: 6px; background-color: #333; z-index: -1; margin-top: -120px">

		<img class="img-responsive" src="img/wood.png" alt="wood"
			style="margin-top: -70px;" height="200px" width="1200px">

		<div class="row" style="margin-top: 60px;">

			<!-- Tabs -->
			<div class="col-lg-9 offset-lg-3">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item"><a class="nav-link active"
						data-toggle="tab" role="tab" aria-selected="true"
						href="#createUserTab">Create new account</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						role="tab" aria-selected="false" href="#loginTab">Log in</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						role="tab" aria-selected="false" href="#forgetPasswordTab">Forget
							password</a></li>
				</ul>

				<!-- create new user -->
				<div class="tab-content">
					<div class="tab-pane active" id="createUserTab">
						<div class="card-group">
							<div class="card-body"
								style="background-color: #ededed; margin-top: 20px;">
								<form>
									<div class="form-group">
										<label for="newUsername">* Username: </label> <input
											required="required" type="text" class="form-control"
											id="newUsername" name="username">
									</div>
									<div class="form-group">
										<label for="emailAddress">* Email Address: </label> <input
											required="required" type="text" class="form-control"
											id="emailAddress" name="email">
									</div>

									<button type="submit" class="btn btn-primary">Create a
										new account</button>
								</form>
							</div>
						</div>
					</div>


					<!-- login tab -->
					<div class="tab-pane fade" id="loginTab">
						<div class="card-group">
							<div class="card-body"
								style="background-color: #ededed; margin-top: 20px;">
								<form>
									<div class="form-group">
										<label for="newUsername">* Username: </label> <input
											required="required" type="text" class="form-control"
											id="newUsername" name="username">
									</div>
									<div class="form-group">
										<label for="password">* Password: </label> <input
											required="required" type="password" class="form-control"
											id="password" name="password">
									</div>

									<button type="submit" class="btn btn-primary">Log in</button>
								</form>
							</div>
						</div>
					</div>

					<!-- forget password tab -->
					<div class="tab-pane fade" id="forgetPasswordTab">
						<div class="card-group">
							<div class="card-body"
								style="background-color: #ededed; margin-top: 20px;">
								<form>
									<div class="form-group">
										<label for="recoverEmail">* Email Address: </label> <input
											required="required" type="text" class="form-control"
											id="recoverEmail" name="recoverEmail">
										<p>Enter your registered email</p>
									</div>

									<button type="submit" class="btn btn-primary">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- End of the container -->

	<hr class="featurette-divider">

	<div th:replace="common/headerAndFooter :: footer"></div>

	<div th:replace="common/headerAndFooter :: body-scripts"></div>
</body>
</html>